{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Respond to money claim
      </h1>

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p> -->
      
      <!--------------------- Prepare your response ----------------------------->
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Prepare your response
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Confirm your details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Decide if you need more time to respond
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
          </ul>
        </li>

        <!--------------------- Respond to claim ----------------------------->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Respond to claim
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Company information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="company-information-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Your contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
          </ul>
        </li>
        <!--------------------- Try to resolve the claim ----------------------------->
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Try to resolve the claim
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Your contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
            </li>
          </ul>
        </li>
        
        <!--------------------- Your hearing requirements ----------------------------->
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Your hearing requirements
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Your contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
        
        <!--------------------- Submit ----------------------------->
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Your contact details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
